<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <header></header>
  <div class="content-container">
    <div class="left">
      <h1><img class="logo" src="/images/temp_logo.png"/>b<span>r</span>b</h1>
      <div class="desc">
        Broadcast live and be your own star
      </div>
      <div class="desc">
        
      </div>
    </div>
    <div class="right">
      <div class="image"><img src="/images/brb_screenshot.png"/></div>
    </div>
  </div>
  <footer>&copy;2016 BlitzStudios, Inc</footer>
</body>
</html>
